/*
 ## Colors
*/
/*
 ## Font, line-height, font-size
*/
body {
  font-family: "Muli", sans-serif;
  background-color: #fcfcfd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1176px;
  padding: 0 15px;
  margin: 0 auto; }

.skew-background {
  position: absolute;
  top: 0;
  background: #56ccf2;
  transform: matrix(1, 0, -0.5, 1, -190, 0);
  -ms-transform: matrix(1, 0, -0.5, 1, -190, 0);
  -webkit-transform: matrix(1, 0, -0.5, 1, -190, 0);
  width: 100%;
  right: 50px;
  height: 825px;
  z-index: -1; }

.divider {
  width: 64px;
  height: 2px;
  margin: 30px auto; }
  .divider--primary {
    background-color: #56ccf2; }
  .divider--warning {
    background-color: #fcc304; }
  .divider--danger {
    background-color: #f25656; }

.text--primary {
  color: #56ccf2; }

.text--warning {
  color: #fcc304; }

.text--danger {
  color: #f25656; }

.header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 930px; }

.logo {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  text-decoration: none; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav__item {
    list-style: none;
    margin-right: 53px; }
    .nav__item:last-child {
      margin-left: 82px;
      margin-right: 0; }
  .nav__link {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    line-height: 1.5;
    padding: 10px 5px;
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link.active:after {
      content: "";
      background: #fcc304;
      height: 4px;
      left: 0;
      right: 0;
      position: absolute;
      bottom: 0;
      border-radius: 8px; }
    .nav__link:hover {
      color: #e6e6e6; }

.bars {
  display: none;
  cursor: pointer; }
  .bars div {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0; }

.hero {
  max-width: 754px;
  margin: 80px 0 80px 100px; }
  .hero__title {
    font-size: 64px;
    line-height: 96px;
    color: #fff;
    font-weight: bold; }
  .hero__description {
    color: #fff;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 42px; }

.intro {
  padding: 160px 0;
  margin: 0 auto;
  max-width: 742px; }
  .intro__welcome {
    line-height: 1.5; }

.services {
  background-color: #fff; }
  .services__title {
    font-size: 48px;
    font-weight: bold;
    color: #253757;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: center; }
  .services-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.service {
  width: 33.33%;
  padding: 160px 0;
  margin: 0 10px; }
  .service__image img {
    border-radius: 50%;
    margin-bottom: 64px;
    -webkit-box-shadow: 5px 10px 0 0 #fff, 10px 15px 0 0 #fcfcfc80, 20px 20px 0 0 #fff, 30px 20px 0 0 #fcfcfc80, 40px 20px 0 0 #fff, 50px 20px 0 0 #fcfcfc80, 50px 20px 0 5px #fff, 42px 20px 0 20px #fcfcfc80;
            box-shadow: 5px 10px 0 0 #fff, 10px 15px 0 0 #fcfcfc80, 20px 20px 0 0 #fff, 30px 20px 0 0 #fcfcfc80, 40px 20px 0 0 #fff, 50px 20px 0 0 #fcfcfc80, 50px 20px 0 5px #fff, 42px 20px 0 20px #fcfcfc80; }
  .service__title {
    font-size: 19.6px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 32px;
    max-width: 264px; }
  .service__description {
    line-height: 1.5;
    max-width: 264px; }

.process {
  background-color: #fff; }
  .process__description {
    max-width: 365px;
    margin-bottom: 20px; }

.step {
  position: absolute;
  max-width: 240px;
  height: 256px;
  padding: 48px 32px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(37, 55, 87, 0.2);
          box-shadow: 2px 2px 5px 0 rgba(37, 55, 87, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  z-index: 1; }
  .step--1 {
    top: 45%;
    right: 35%; }
  .step--2 {
    top: 27%;
    right: 10%; }
  .step--3 {
    top: 90%;
    right: 35%; }
  .step--4 {
    top: 72%;
    right: 10%; }
  .step__description {
    font-size: 12.6px;
    color: #253757; }
  .step__number {
    display: inline-block;
    margin-bottom: 32px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative; }
    .step__number:after {
      content: "";
      position: absolute;
      line-height: 1.5;
      font-weight: 900;
      font-size: 40px;
      top: 30%;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .step__number--1 {
      background-color: #e4f7fd; }
      .step__number--1:after {
        content: "1";
        color: #56ccf2; }
    .step__number--2 {
      background-color: #fef3ce; }
      .step__number--2:after {
        content: "2";
        color: #fcc304; }
    .step__number--3 {
      background-color: #d9fee4; }
      .step__number--3:after {
        content: "3";
        color: #03d542; }
    .step__number--4 {
      background-color: #fde4e4; }
      .step__number--4:after {
        content: "4";
        color: #f25656; }

.process-wrap {
  padding: 160px 64px 291px;
  background-color: #fcfcfd;
  position: relative; }

.features-wrap {
  padding: 150px 64px;
  background: linear-gradient(115deg, #56ccf2 0%, #56ccf2 57%, rgba(86, 204, 242, 0) 57%, rgba(86, 203, 242, 0) 85%, #56cbf2 85%, #56cbf2 100%);
  position: relative; }

.features-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url("../images/fatures-photo.jpg") no-repeat;
  background-size: cover; }

.features__icon {
  min-width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 32px; }

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 64px; }

.features__description {
  max-width: 265px;
  color: #fff;
  line-height: 1.5; }

.reviews-wrap {
  padding-top: 160px;
  background-color: #fff; }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -155px;
  -webkit-transform: translateY(155px);
          transform: translateY(155px);
  margin-right: -10px;
  margin-left: -10px; }

.review {
  margin: 10px;
  padding: 75px 32px 48px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(37, 55, 87, 0.2);
          box-shadow: 2px 2px 5px 0 rgba(37, 55, 87, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  max-width: 314px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .review:hover {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  .review__author-photo {
    height: 130px; }
    .review__author-photo img {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .review__author-photo:before {
      content: "";
      display: inline-block;
      height: 64px;
      width: 161px;
      -webkit-transform: rotate(120deg);
              transform: rotate(120deg);
      border-radius: 64px;
      background-color: #2f80ed; }
  .review--primary:before {
    background-color: #56ccf2; }
  .review--warning:before {
    background-color: #fcc304; }
  .review--danger:before {
    background-color: #f25656; }
  .review__description {
    line-height: 1.5;
    font-size: 14.4px; }
  .review__details {
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 900; }
  .review__author {
    color: #152032;
    font-size: 12.6px;
    line-height: 1.5;
    font-weight: bold; }

.apply {
  text-align: center;
  padding: 320px 0 160px; }
  .apply__title {
    color: #253757;
    font-size: 48px;
    margin-bottom: 57px; }
  .apply__description {
    color: #334563;
    font-size: 24px;
    line-height: 1.5;
    max-width: 754px;
    margin: 0 auto 57px; }

.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.feedback {
  width: 65%;
  padding-right: 10%; }

.feedback-form {
  margin-top: 100px; }

.contacts {
  width: 35%; }

.contact {
  margin-bottom: 40px;
  text-transform: uppercase; }
  .contact__title {
    font-size: 12.6px;
    line-height: 1.5;
    color: #334563;
    font-weight: 900; }
  .contact__info {
    color: #56ccf2;
    line-height: 1.5;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700; }
  .contact-network__link {
    text-decoration: none;
    margin-right: 48px; }
  .contact-network__icon {
    width: 32px;
    height: 32px; }

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
  color: #253757;
  margin-top: 135px;
  margin-bottom: 80px; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-nav__item:not(:last-child) {
    margin-right: 60px; }
  .footer-nav__link {
    color: #253757;
    text-decoration: none; }
    .footer-nav__link:hover {
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .footer-nav__link:hover:hover {
        color: #5c7db9; }

.btn {
  display: inline-block;
  font-weight: bold;
  color: #253757;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 17px 93px;
  line-height: 1.5;
  border-radius: 64px;
  cursor: pointer;
  outline: none;
  white-space: nowrap; }
  .btn__default {
    background-color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .btn__default:hover {
      background-color: #e6e6e6; }
  .btn__primary {
    background-color: #2f80ed;
    color: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .btn__primary:hover {
      background-color: #1366d6; }
  .btn:focus {
    -webkit-box-shadow: 2px 2px 5px 0 rgba(37, 55, 87, 0.2);
            box-shadow: 2px 2px 5px 0 rgba(37, 55, 87, 0.2); }

.section-header__title {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 64px;
  max-width: 365px; }

.section-header__name {
  color: #56ccf2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  text-transform: uppercase; }
  .section-header__name:before {
    content: url("../images/option.png");
    fill: #2f80ed;
    margin-right: 16px; }
  .section-header__name--light {
    color: #fff; }
    .section-header__name--light:before {
      content: url("../images/option-light.png"); }

.slider-img {
  width: 100%; }

.control {
  background-color: #fcc304;
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .control-prev {
    left: -45px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px; }
    .control-prev:after {
      content: url("../images/arrow-left.svg"); }
  .control-next {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; }
    .control-next:after {
      content: url("../images/arrow-right.svg");
      -webkit-transform: rotateZ(180deg);
              transform: rotateZ(180deg); }
  .control:hover {
    background-color: #cb9d02; }

.slider-wrap {
  position: relative; }

.slider__links {
  position: absolute;
  right: -300px;
  top: 50%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.slider__links a {
  padding: 0 40px;
  color: #253757;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .slider__links a:hover {
    color: #4b70b0; }

.slider__item {
  position: relative; }

.slider-info {
  position: absolute;
  bottom: 90px;
  left: 90px; }

.slider-info__title {
  color: #56ccf2;
  font-size: 12.6px;
  text-transform: uppercase;
  margin-bottom: 5px; }

.slider-info__text {
  color: #fff;
  font-weight: 500;
  font-size: 19.6px;
  max-width: 265px; }

.form-group {
  margin-bottom: 3rem; }
  .form-group label {
    font-size: 14.4px;
    line-height: 1.5;
    font-weight: bold; }

.form-control {
  border: none;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  outline: none;
  width: 100%;
  background: transparent; }
  .form-control:focus {
    border-bottom: 1px solid black; }

@media (max-width: 1200px) {
  .control {
    left: 50%;
    bottom: -40px;
    top: inherit; }
  .control-prev {
    left: calc(50% - 37px);
    z-index: 1; }
  .slider__links {
    display: none; } }

@media (max-width: 1024px) {
  .skew-background {
    transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    right: 0;
    height: 750px; }
  .intro {
    padding: 80px 0; }
  .service {
    padding: 80px 0; }
  .process-wrap {
    padding: 80px 64px; }
  .process__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
  .step {
    position: static;
    max-width: calc(50% - 30px);
    margin: 15px; }
  .reviews-wrap {
    padding-top: 80px; }
  .apply {
    padding: 240px 15px 100px; }
  .feedback,
  .contacts {
    width: 50%; }
  .header-nav {
    display: none; }
  .bars {
    display: block; }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-nav__item:not(:last-child) {
    margin-right: 0; }
  .copyright {
    margin-top: 25px; } }

@media (max-width: 768px) {
  .features-wrap {
    background: #56ccf2;
    padding: 80px 64px; }
  .reviews {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .review {
    max-width: calc(50% - 20px); }
  .services-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .service {
    width: calc(50% - 20px);
    text-align: center;
    padding: 20px 0; }
  .service__title,
  .service__description {
    max-width: initial; }
  .hero {
    margin: 50px; }
  .hero__title {
    font-size: 44px; }
  .section-header__title {
    font-size: 22px; }
  .slider-info {
    bottom: 40px;
    left: 40px; }
  .slider-info__text {
    font-size: 1rem; } }

@media (max-width: 580px) {
  .contacts-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .review,
  .service,
  .step,
  .feedback,
  .contacts {
    max-width: 100%;
    width: 100%; }
  .features-wrap {
    padding: 40px 20px; }
  .feedback-form {
    margin: 40px 0; }
  .hero__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px; }
  .hero__description {
    font-size: 21px; }
  .slider-info {
    bottom: 20px;
    left: 15px; }
  .section-header__title {
    margin-bottom: 45px; }
  .control {
    padding: 5px 15px; }
  .hero {
    margin: 20px; }
  .skew-background {
    height: 700px; }
  .process-wrap {
    padding: 40px; }
  .reviews-wrap {
    padding-top: 40px; }
  .apply__title {
    font-size: 36px; }
  .apply__description {
    font-size: 21px; }
  .footer-wrap {
    margin-top: 50px; } }

/*# sourceMappingURL=main.css.map */
